VITE_SUPABASE_URL=https://gjqrmoqnjygnnclxygtq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdqcXJtb3Fuanlnbm5jbHh5Z3RxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4MjI1NjksImV4cCI6MjA5MDM5ODU2OX0.jqeIzPfVzVVo4lUjGK2Z8gYlbb9Qf-mAI_-0R8mCvNA
